<html>
  {% extends 'CoffeeApp/base.html' %} {% load static %}
  <head>
    {% block title %} Coffee Shop {% endblock title %}
  </head>
  <body>
    {% block content %}
    <h1>WELCOME TO COFFEE SHOP</h1>
    <div class="row">
      {% for coffee in coffee %}
      <div class="coffee-item">
        {% if coffee.image %} {% with "upload/"|add:coffee.image.url as
        coffee.image %}
        <p>Image Path: {% static coffee.image %}</p>
        <img src="{% static coffee.image %}" alt="Coffee" />
        {% endwith %} {% else %}
        <p>No Image Found</p>
        {% endif %}
        <h5>{{coffee.name}}</h5>
        <p>RS.{{coffee.price}}</p>
        <a href="#">Add to cart</a>
      </div>
      {% endfor %}
    </div>
    {% endblock content %}
  </body>
</html>
