<html>
  {% extends 'CoffeeApp/base.html' %}
  <head>
    {% block title %} Coffee Shop {% endblock title %}
    <link rel="stylesheet" href="/static/css/index.css" type="text/css" />
  </head>
  <body>
    {% block content %}
    <h1>WELCOME TO COFFEE SHOP</h1>
    <div class="row">
      {% for item in coffee %}
      <div class="coffee-item">
        <img src="{{item.image.url}}" alt="Coffee" />
        <h5>{{item.name}}</h5>
        <p>RS.{{item.price}}</p>
        <button><a href="#">Add to cart</a></button>
      </div>
      {% endfor %}
    </div>
    {% endblock content %}
  </body>
</html>
